<!DOCTYPE html>
<html>
<head>
  <title>Cadplugin</title>
  <%= stylesheet_link_tag    "cadplugin/application", media: "all" %>
  <%= javascript_include_tag "cadplugin/application" %>
  <%= csrf_meta_tags %>
</head>
<body>

<%= yield %>

</body>
</html>
